.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
 
    thead {
        background-color: $verde;
 
        th {
            color: $blanco;
            padding: 2rem;
            border-left: 1px solid $negro;
        }
 
        th:first-child {
            border-left: unset;
        }
    }
 
    tbody {
        td {
            text-align: center;
            border-bottom: solid 2px $negro;
            border-left: solid 8px $blanco;
            height: 18rem;
            font-size: 1.8rem;
        }
 
        td:first-child {
            font-weight: $bold;
            color: $verde;
            border-bottom: solid 2px $verde;
        }
 
        td:nth-child(2) {
            text-transform: uppercase;
        }
 
        td:last-child {
            padding: 1rem 0;
 
            a {
                margin: 0;
                width: 100%;
            }
            
            form input {
                margin: 0 0 1rem 0;
                padding: 1.64rem 3rem;
            }
        }
    }
 
    .imagen-tabla {
        width: 20rem;
        margin: 0 auto;
    }
}

.imagen-small {
    width: 30rem;
}